ocaml-version=5.3
profile=conventional
type-decl=sparse
break-cases=toplevel
if-then-else=fit-or-vertical
cases-exp-indent=2
leading-nested-match-parens=true
module-item-spacing=preserve
exp-grouping=preserve
quiet=true